/* WELCOME PAGE */
.welcome-container{
    width: 100vw;
    height: 100vh;
    background-color:#000000;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/background-img-welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    width: 50%
    height:50%;
    background-color: #161618;
    border-radius: 10px;
    outline: 2px solid #212124;
    box-shadow: 0px 20px 20px 3px #000000;
}

.mainlogo{
    height: 80px;
    width: 80px;
}


.disclamer{
    color: #818181;
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
}

.tagline{
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    text-align: center;
}

/* SIGN UP FORM */
/* NOTHING HERE : SEE GLOBAL PARAMS BELOW FOR FORM CSS PARAMS 
AS THEY WILL BE REUSED ON OTHER PAGES */


/* MY MAILS */
/* NAV BAR */

.navbar {
    margin: auto;
    margin-top: 3%;
    width: 60%;
    background-color: #161618;
    border-radius: 10px;
}

.logo {
    height: 40px;
    width: 40px;
    filter: invert(100%) sepia(19%) saturate(787%) hue-rotate(247deg) brightness(111%) contrast(100%);
    margin-right: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-left: 2vw;
}

.email-object{
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    text-align: left;
}

/* INBOX CONTAINER */

body {
    background-color: #000000;
}

.inboxcontainer {
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

/* EMAIL */
.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #161618;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 10px;
    margin-top: 3%;

}

.email:hover {
    outline: 2px solid #212124;
}

.trash {
    max-width: 30px;
    height: 30px;
    margin-right: 5%;
    filter: invert(32%) sepia(6%) saturate(18%) hue-rotate(73deg) brightness(91%) contrast(87%);


}

.trash:hover {
    filter: invert(100%) sepia(19%) saturate(787%) hue-rotate(247deg) brightness(111%) contrast(100%);

}

.profilepicture {
    margin-left: 5%;
    width: 80px;
    height: 80px;
}

.content-container {
    margin-right: 5%;
    margin-left: 5%;
}

.email-object {
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
}

.email-content {
    color: #818181;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 100;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* GLOBAL STYLE PARAMS */
h1 {
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
}

h2{
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    text-align: center;
}

.button {
    display: inline;
    width: auto;
    height: 35px;
    background: #FFFFFF;
    margin-top: 30px;
    padding: 20px;
    text-align:center;
    border-radius: 5px;
    color:#000000;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'SF Pro Display', sans-serif;
    text-decoration: none; 
}

input{
    font-size: 18px;
    font-size: max(16px, 1em);
    font-family: 'SF Pro Display', sans-serif; ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color:#000000;
    color: #FFFFFF;
    border: 2px solid #212124;
    border-radius: 3px;
    width: 100%;
}

input:focus{
    color: #FFFFFF;
}

label{
    font-family: 'SF Pro Display', sans-serif; 
    color: #FFFFFF;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .inboxcontainer {
        margin: auto;
        margin-top: 3%;
        width: 100%;
    }

    .navbar {
        width: 100%;
    }

    .email-content {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .email {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .trash {
        display: none;
    }
}